html, body {
  font-family: Tahoma, Arial, sans-serif !important;
  position: relative;
  /* For scrollyspy */
}

/* BTNS */

.btn {
  border-radius: 0;
  color: white;
}

.btn-success {
  background-color: rgba(218, 226, 117, 1);
  border-color: rgba(218, 226, 117, 1);
  color: #434A54;
  outline: 0 !important;
  &.active, &.disabled, &:active {
    background-color: rgba(218, 226, 117, 1);
    border-color: rgba(218, 226, 117, 1);
    color: #434A54;
    outline: 0 !important;
  }
  &:focus, &:hover {
    background-color: rgba(218, 226, 117, 0.8);
    border-color: rgba(218, 226, 117, 0.8);
    color: #434A54;
    outline: 0 !important;
  }
}

.open .dropdown-toggle.btn-success {
  background-color: rgba(218, 226, 117, 0.8);
  border-color: rgba(218, 226, 117, 0.8);
  color: #434A54;
  outline: 0 !important;
}

.loopActiveButton {
  background-color: transparent;
  border: 3px solid #9BC8DB;
  color: rgba(67, 74, 84, 0.8);
  padding: 3px 0 2px 0;
  position: absolute;
  right: 15px;
  top: 4px;
  &.active, &.disabled, &:active {
    background-color: transparent;
    border: 3px solid #9BC8DB;
    color: rgba(67, 74, 84, 0.8);
    padding: 3px 0 2px 0;
    position: absolute;
    right: 15px;
    top: 4px;
  }
  &:focus, &:hover {
    background-color: rgba(155, 200, 219, 0.2);
    border-color: rgba(155, 200, 219, 0.7);
    color: rgba(28, 53, 70, 0.85);
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
  }
}

.open .dropdown-toggle.loopActiveButton {
  background-color: rgba(155, 200, 219, 0.2);
  border-color: rgba(155, 200, 219, 0.7);
  color: rgba(28, 53, 70, 0.85);
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.loopCloseButton {
  background-color: transparent;
  border: 2px solid #505648;
  color: #434A54;
  margin: 20px 0;
  &.active, &.disabled, &:active {
    background-color: transparent;
    border: 2px solid #505648;
    color: #434A54;
    margin: 20px 0;
  }
  &:focus, &:hover {
    background-color: rgba(80, 86, 72, 0.1);
    border-color: rgba(28, 53, 70, 0.36);
    color: rgba(28, 53, 70, 0.6);
  }
}

.open .dropdown-toggle.loopCloseButton {
  background-color: rgba(80, 86, 72, 0.1);
  border-color: rgba(28, 53, 70, 0.36);
  color: rgba(28, 53, 70, 0.6);
}

.loopDefaultButton {
  background-color: #9BC8DB;
  border: 2px solid #9BC8DB;
  &.active, &.disabled, &:active {
    background-color: #9BC8DB;
    border: 2px solid #9BC8DB;
  }
  &:focus, &:hover {
    background-color: rgb(182, 216, 231);
    border: 2px solid rgb(182, 216, 231);
    color: #fff;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
  }
}

.open .dropdown-toggle.loopDefaultButton {
  background-color: rgb(182, 216, 231);
  border: 2px solid rgb(182, 216, 231);
  color: #fff;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.loopDefaultButton .fa {
  &.fa-chevron-left {
    position: absolute;
    left: 25px;
    top: 10px;
  }
  &.fa-chevron-right {
    position: absolute;
    right: 25px;
    top: 10px;
  }
}

.loopInfoButton {
  background-color: rgb(139, 201, 226);
  border: 2px solid rgb(139, 201, 226);
  color: #434A54;
  font-size: .8em !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: -4px;
  padding: 9px 0 8px 0;
  &.active, &.disabled, &:active {
    background-color: rgb(139, 201, 226);
    border: 2px solid rgb(139, 201, 226);
    color: #434A54;
    font-size: .8em !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: -4px;
    padding: 9px 0 8px 0;
  }
  &:focus, &:hover {
    background-color: rgba(139, 201, 226, 0.8);
    border: 2px solid rgba(139, 201, 226, 0.1);
    color: rgba(67, 74, 84, 0.75);
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
  }
}

.open .dropdown-toggle.loopInfoButton {
  background-color: rgba(139, 201, 226, 0.8);
  border: 2px solid rgba(139, 201, 226, 0.1);
  color: rgba(67, 74, 84, 0.75);
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.loopTitleButton {
  background-color: rgba(162, 215, 123, 0.6);
  border: 2px solid rgba(162, 215, 123, 0.1);
  color: #434A54;
  font-weight: bold;
  &.active, &.disabled, &:active {
    background-color: rgba(162, 215, 123, 0.6);
    border: 2px solid rgba(162, 215, 123, 0.1);
    color: #434A54;
    font-weight: bold;
  }
  &:focus, &:hover {
    background-color: rgba(162, 215, 123, 0.4);
    border: 2px solid rgba(162, 215, 123, 0.05);
    color: rgba(67, 74, 84, 0.75);
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
  }
}

.open .dropdown-toggle.loopTitleButton {
  background-color: rgba(162, 215, 123, 0.4);
  border: 2px solid rgba(162, 215, 123, 0.05);
  color: rgba(67, 74, 84, 0.75);
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

/* COLORS */

.example [class*="col-"] {
  margin-bottom: 10px;
}

.color-swatches {
  .swatches {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFF;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  .light, .dark {
    width: 50%;
    height: 50px;
  }
  .light {
    border-radius: 4px 0 0 0;
  }
  .dark {
    border-radius: 0 4px 0 0;
  }
  .infos {
    padding: 5px 10px;
    h4, p {
      margin: 0;
    }
    h4 {
      margin-bottom: 3px;
      font-weight: bold;
      font-size: 14px;
    }
    p {
      font-size: 12px;
    }
  }
}

.disabled .fa {
  color: #D2D3D5;
}

.green {
  color: #DAE275;
}

.loopGreenNote {
  color: rgba(14, 199, 82, 0.55);
}

.loopRedNote {
  color: #E6675F;
}

.white {
  color: #FFF;
}

/* FORMS, SUCCESS, ALERTS, INFO BGs */

input.form-control {
  height: 38px !important;
}

textarea.form-control {
  resize: vertical;
}

.alert {
  color: #434A54 !important;
  h2 {
    margin-bottom: 20px;
  }
}

.alert-info {
  background-color: rgba(124, 209, 239, 0.5);
}

.alert-danger {
  background-color: rgba(255, 192, 188, 1);
}

.alert {
  &.alert-danger.alert-dismissable {
    margin-top: 50px;
    h3 {
      margin: 5px 0 10px;
    }
    .table > {
      thead > tr > th {
        border-bottom: 2px solid #434A54;
      }
      tbody > tr {
        > td {
          border-top: 1px solid #434A54;
        }
        border-top: 1px solid #434A54;
      }
    }
    .btn-success {
      &:focus, &:hover {
        background-color: rgba(208, 215, 123, 1);
        border: 1px solid rgba(162, 162, 63, 0.6);
        outline: 0 !important;
      }
    }
    .open .dropdown-toggle.btn-success {
      background-color: rgba(208, 215, 123, 1);
      border: 1px solid rgba(162, 162, 63, 0.6);
      outline: 0 !important;
    }
    .btn-success {
      background-color: rgba(208, 215, 123, 0.6);
      border: 1px solid rgba(162, 162, 63, 0.6);
      outline: 0 !important;
      &.active, &.disabled, &:active, &[disabled] {
        background-color: rgba(208, 215, 123, 0.6);
        border: 1px solid rgba(162, 162, 63, 0.6);
        outline: 0 !important;
      }
    }
    .fa {
      font-size: 2em !important;
    }
  }
  &.alert-warning.alert-dismissable {
    margin-right: 0;
    margin-left: 0;
    position: relative;
  }
}

.alert-success {
  background-color: rgba(185, 223, 144, 0.4);
  border: #a0d468;
  color: #434A54;
  margin-left: 20px;
  max-width: 35%;
}

.alert-warning {
  background-color: rgba(255, 234, 134, 0.5);
  color: #434A54;
}

.alert {
  &.alert-success, &.alert-warning, &.alert-danger {
    margin: 15px;
    padding: 10px;
  }
}

.table > {
  thead > tr > td.active, tbody > tr > td.active, tfoot > tr > td.active, thead > tr > th.active, tbody > tr > th.active, tfoot > tr > th.active, thead > tr.active > td, tbody > tr.active > td, tfoot > tr.active > td, thead > tr.active > th, tbody > tr.active > th, tfoot > tr.active > th {
    background-color: rgba(230, 236, 238, 0.6) !important;
    outline: 0 !important;
  }
  thead > tr > td.info, tbody > tr > td.info, tfoot > tr > td.info, thead > tr > th.info, tbody > tr > th.info, tfoot > tr > th.info, thead > tr.info > td, tbody > tr.info > td, tfoot > tr.info > td, thead > tr.info > th, tbody > tr.info > th, tfoot > tr.info > th {
    background-color: rgba(155, 200, 219, 0.24) !important;
    outline: 0 !important;
  }
  thead > tr > td.success, tbody > tr > td.success, tfoot > tr > td.success, thead > tr > th.success, tbody > tr > th.success, tfoot > tr > th.success, thead > tr.success > td, tbody > tr.success > td, tfoot > tr.success > td, thead > tr.success > th, tbody > tr.success > th, tfoot > tr.success > th {
    background-color: rgba(191, 226, 117, 0.2) !important;
    outline: 0 !important;
  }
}

.form-control {
  border-radius: 0;
  border: 2px solid #D2D3D5 !important;
  &:focus {
    border: 2px solid #81c5e1;
    border-radius: 0;
  }
}

.form-control-feedback {
  margin-top: 8px;
}

.form-group {
  margin-bottom: 0;
}

.has-error {
  .form-control-feedback {
    top: 0 !important;
  }
  .form-control {
    border-color: #E6675F !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    &:focus {
      border-color: #E6675F !important;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}

.loopLabels.has-error .form-control:focus {
  border-color: #E6675F !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input[type="checkbox"].loopCheckbox {
  margin-top: 14px;
}

.input-group-addon {
  background-color: #E5E6E9;
  border: 2px solid #D2D3D5;
  border-radius: 0;
  padding: 1px 12px;
}

.form-group.loopCheckboxGroup {
  display: inline-block;
  margin-left: 0 !important;
  max-width: 100%;
  .fa-stack {
    margin-left: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1600px) {
  .form-group.loopCheckboxGroup {
    margin-left: -5% !important;
  }
}

.input-group-addon .fa {
  color: rgba(51, 51, 51, 0.3);
  font-size: 1.5em !important;
}

.form-horizontal {
  .control-label {
    padding-top: 9px !important;
  }
  .form-group .control-label {
    font-size: 1em;
  }
}

.loopCheckboxGroup .form-group {
  display: inline-block;
  margin-right: 15px;
  label {
    display: inline-block;
    font-size: 0.85em !important;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media (max-width: 600px) {
  .loopCheckboxGroup .form-group {
    display: block !important;
  }
}

@media (max-width: 650px) {
  .loopCheckboxGroup .form-group label {
    margin-left: 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .loopCheckboxGroup .form-group label {
    width: 105px;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .loopCheckboxGroup {
    margin-top: 15px;
    padding-left: 35% !important;
    .form-group label {
      margin-top: -20px;
    }
  }
}

.loopLabels {
  .form-control:focus {
    border: 2px solid #81c5e1 !important;
  }
  &.has-success .form-control:focus {
    background-color: #F0FFB7;
    border: 2px solid #a2d77b;
  }
  &.has-warning .form-control:focus {
    background-color: #fffec1;
    border: 2px solid  #ffcc86;
  }
  .input-group-addon {
    background-color: #9BC8DB;
    border: 2px solid #9BC8DB;
    border-radius: 0;
    color: #fff !important;
    padding: 1px 12px;
    .fa {
      color: #fff;
      font-size: 1.4em !important;
    }
  }
}

.loopQuoteNote {
  padding: 10px;
  background-color: rgba(242, 247, 253, 0.75);
  margin-left: -7px;
  margin-right: -7px;
  .form-horizontal .close {
    position: absolute;
    top: -10px;
    right: 10px;
  }
  .loopLabels textarea.form-control {
    border: 3px solid rgba(67, 74, 84, 0.3) !important;
    &:focus {
      border: 3px solid #81c5e1 !important;
    }
  }
}

.selecter {
  &.open .selecter-selected, .selecter-selected {
    border: 0;
    border-radius: 0;
  }
}

/* CHECKBOXES & RADIOBUTTONS */

/* Styling checkbox */

.fa.fa-square-o {
  background-color: #fff;
  border-radius: 4px;
  font-size: 2em !important;
  height: 0.7em;
  line-height: 0.85em;
  top: 2px;
  width: 0.8em;
}

.fa-stack.fa.fa-square-o {
  top: 0 !important;
}

input {
  &[type="checkbox"] {
    + label, &:checked + label {
      margin-top: -2px;
    }
    display: none;
  }
  &[type="radio"] {
    display: none;
    + label .fa-circle {
      display: none;
    }
  }
  &[type="checkbox"] + label .fa-check {
    display: none;
  }
  &[type="radio"]:checked + label .fa-circle {
    display: block;
  }
  &[type="checkbox"] {
    &:checked + label .fa-check {
      display: block;
    }
    + label {
      width: 100%;
    }
  }
  &[type="radio"] + label {
    width: 100%;
  }
}

/* Hidding the radiobuttons & checkboxes */

/* Hidding and showing the "check" status of inputs */

.fa {
  &.fa-circle-o.fa-stack-1x {
    display: block !important;
    top: -1px !important;
  }
  &.fa-circle.fa-stack-1x {
    top: -1px !important;
  }
}

/* Styling the "check" status */

input {
  &[type="radio"]:checked + label .fa-circle {
    font-size: 11.5px !important;
  }
  &[type="checkbox"]:checked + label {
    .fa-check {
      bottom: 2px;
      font-size: 1.2em !important;
      left: -2.5px;
      position: relative;
    }
    &.loopActiveLabel {
      background-color: rgba(129, 197, 225, 0.5);
      -webkit-transition: all .05s ease-in;
      -moz-transition: all .05s ease-in;
      transition: all .05s ease-in;
      width: 100%;
    }
  }
  &[type="radio"]:checked + label.loopActiveLabel {
    background-color: rgba(129, 197, 225, 0.5);
    -webkit-transition: all .05s ease-in;
    -moz-transition: all .05s ease-in;
    transition: all .05s ease-in;
    width: 100%;
  }
  &[type="checkbox"]:checked + label {
    &.loopIncludeLabel {
      background-color: rgba(51, 51, 51, 0.15);
      -webkit-transition: all .05s ease-in;
      -moz-transition: all .05s ease-in;
      transition: all .05s ease-in;
      width: 100%;
    }
    &.loopCheckedLabel {
      background-color: rgba(162, 215, 123, 0.6);
      -webkit-transition: all .05s ease-in;
      -moz-transition: all .05s ease-in;
      transition: all .05s ease-in;
      width: 100%;
    }
  }
  &[type="radio"]:checked + label.loopCheckedLabel {
    background-color: rgba(162, 215, 123, 0.6);
    -webkit-transition: all .05s ease-in;
    -moz-transition: all .05s ease-in;
    transition: all .05s ease-in;
    width: 100%;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  input[type="checkbox"] + label {
    &.loopActiveLabel, &.loopIncludeLabel {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 60% !important;
      margin-bottom: 1px !important;
    }
  }
}

/* HEADER */

header {
  font-size: .95em;
}

.docs-header {
  h1.text-center {
    margin-top: 45px;
  }
  &.header--noBackground {
    background: none;
  }
}

@media (max-width: 767px) {
  .docs-header {
    padding-top: 0;
  }
  .loopSmallBorder {
    border-top: 1px solid #E5E6E9 !important;
    &:hover {
      background-color: rgba(244, 242, 246, 0.5);
    }
  }
}

@media (min-width: 768px) {
  .loopBorderLine {
    border-top: 1px solid #E5E6E9;
    &:hover {
      background-color: rgba(244, 242, 246, 0.5);
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .loopBorderLine {
    padding-top: 1px;
    padding-bottom: 1px;
  }
}

@media (min-width: 992px) {
  .loopAutoWidth {
    width: auto;
    padding-right: 0;
  }
  .loopEmptyBorder {
    border-top: 1px solid #E5E6E9;
    &:hover {
      background-color: rgba(244, 242, 246, 0.5);
    }
  }
  .loopRowMargin {
    margin-right: 10px;
  }
  .max-width {
    max-width: 360px;
  }
}

.loopHeaderBar {
  height: 12px;
  position: relative;
  width: 100%;
}

.loopHeaderEmail {
  text-transform: lowercase;
}

.topic {
  margin: 0 0 5px 0;
  position: relative;
  h1 {
    color: #434a54;
    margin: 0;
    padding-bottom: 5px;
    &:hover {
      filter: alpha(opacity = 80);
      opacity: .8;
      transition: opacity .4s ease-in-out;
    }
  }
  h2, h3, h4 {
    font-weight: 700;
  }
  h2 {
    font-size: 1.7em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.4em;
  }
  .container {
    color: rgba(51, 51, 51, 0.8);
    position: relative;
    a {
      color: #333;
      filter: alpha(opacity = 100);
      opacity: 1;
      text-decoration: underline;
      padding: 0;
      font-weight: normal;
      &.btn {
        padding: 10px 16px;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: 992px) {
  .topic {
    h2 {
      margin: 15px 0 0 0;
      padding-bottom: 8px;
    }
    h3 {
      margin: 18px 0 0 0;
    }
    h4 {
      margin: 20px 0 0 0;
    }
  }
}

@media (max-width: 991px) {
  .topic {
    h2 {
      margin: 5px 0 0 0;
    }
    h3 {
      margin: 2px 0 0 0;
    }
    h4 {
      margin: 5px 0 0 0;
    }
  }
}

@media (max-width: 500px) {
  .topic {
    text {
      font-size: 0.95em;
    }
    h2 {
      font-size: 1.4em;
    }
    h3 {
      font-size: 1.3em;
    }
    h4 {
      font-size: 1.2em;
    }
  }
}

/* ICONS */

.fa {
  font-size: 1.4em !important;
}

@media (max-width: 1068px) {
  .fa {
    font-size: 1.2em !important;
  }
}

.fa-stack {
  left: 4px;
  top: 1px;
}

.loopTitleIcon .fa {
  font-size: 2em !important;
  left: 20px;
  top: -15px;
}

@media (max-width: 767px) {
  .loopTitleIcon {
    .alert-success {
      max-width: 215px;
      margin-bottom: 0 !important;
    }
    .fa {
      left: -25px;
    }
    .loopTitleLabel {
      margin-left: 40px;
    }
  }
}

/* LABELS &POPOVERS */

label {
  &.col-xs-4.control-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &.small.col-sm-7 {
    margin-bottom: 2px;
  }
}

@media (max-width: 1145px) {
  .form-group label.col-sm-4.control-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.col-xs-5.text-right .loopTitleLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.loopCheckLabel {
  margin-bottom: -2px !important;
  label {
    font-weight: normal !important;
    .loopRightLabel {
      font-weight: bold !important;
    }
  }
}

.loopCoverTitle {
  position: absolute;
  left: 30%;
  top: 92px;
}

@media (min-width: 1450px) {
  .loopCoverTitle {
    left: 33%;
  }
}

@media (min-width: 1700px) {
  .loopCoverTitle {
    left: 35%;
  }
}

@media (max-width: 1100px) {
  .loopCoverTitle {
    left: 28%;
  }
}

@media (max-width: 768px) {
  .loopCoverTitle {
    font-size: 1em !important;
    left: 25%;
  }
}

.loopErrorLabel {
  font-weight: normal;
  text-align: left !important;
}

.loopInfoLabel {
  color: rgba(51, 51, 51, 0.6);
  font-size: 90%;
  position: absolute;
  right: -40px;
  top: 10px;
}

@media (max-width: 768px) {
  .loopInfoLabel {
    right: 20px;
    top: -20px;
  }
}

.loopMarginLabel {
  margin-bottom: 5px;
  margin-top: 10px;
}

.loopRightLabel {
  margin-top: 2px;
  right: 21px;
  position: absolute;
}

.loopTitleLabel {
  font-size: 1.2em;
  margin-top: 6px;
  &.loopAutoWidth {
    margin-bottom: 0 !important;
  }
}

@media (max-width: 580px) {
  .col-xs-5.text-right .loopTitleLabel {
    font-size: 1em;
  }
}

@media (max-width: 992px) {
  .loopTitleLabel.loopAutoWidth {
    width: auto;
  }
}

.popover.top.loopPopover {
  top: -115px !important;
}

/* LOOP-BOXES & DOCUMENTS */

h1, h2, h3 {
  margin-bottom: 0;
}

h4, h5, h6 {
  margin-top: 15px;
}

h4 .loopContainerBox.loopSmallPadding .form-horizontal .div-group .col-sm-4.control-label {
  font-size: 0.5em !important;
}

h6 {
  font-weight: normal;
}

small, .small {
  color: rgba(51, 51, 51, 0.6);
}

.col-md-2 .loopContainerBox.loopSmallPadding, .col-md-3 .loopContainerBox.loopXSmallPadding, .col-md-5 .loopContainerBox.loopXSmallPadding {
  min-height: 177px;
}

.container-fluid {
  &[disabled] {
    filter: alpha(opacity = 20);
    opacity: .2;
    transition: opacity .4s ease-in-out;
  }
  &.loopSquareBox h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.documents {
  margin-top: 40px;
  margin-bottom: 20px;
}

.loopAccordionBar {
  background-color: #9BC8DB;
  height: 2px;
  margin-bottom: 15px;
  width: 100%;
}

.loopAccordionContainer h3 {
  margin-bottom: 0;
}

.loopBr {
  border: 1px solid #9BC8DB;
  margin: 5px 0;
}

.loopContainer {
  margin-bottom: 20px;
  [class*="col-"] {
    margin-bottom: 10px;
  }
  .col-sm-6.col-md-12.loopMarginContainer {
    margin-bottom: 0;
  }
}

.loopContainerBox {
  background-color: rgba(255, 255, 255, 0.7);
  border: 5px solid #9BC8DB;
  &.loopPadding h5 {
    margin-top: 0;
  }
  &.loopSmallPadding {
    .loopCheckboxGroup {
      margin-left: 10px;
    }
    .alert.alert-info.alert-dismissable {
      font-size: .9em;
      height: 38px;
      margin-bottom: 0;
      overflow: hidden;
      padding: 2px 3px;
    }
    .col-sm-4.control-label, .col-sm-5.control-label {
      font-size: 0.9em;
      text-align: left;
      padding-right: 0 !important;
      padding-top: 11px !important;
    }
  }
  &.loopXSmallPadding .col-sm-5.control-label {
    font-size: 0.9em;
    text-align: left;
    padding-right: 0 !important;
    padding-top: 11px !important;
  }
  &.loopSmallPadding {
    .col-sm-6.control-label, .col-sm-12.control-label {
      font-size: 0.9em;
      text-align: left;
      padding-right: 0 !important;
      padding-top: 11px !important;
    }
    .form-control {
      &[disabled] {
        padding-left: 4px;
        padding-right: 4px;
      }
      padding-left: 4px;
      padding-right: 4px;
    }
    .loopInfoButton {
      margin-top: 0px;
    }
    .loopSmallSpan a {
      float: right;
      margin-bottom: -5px;
      margin-top: -5px;
      padding: 0 35px;
    }
    .loopTitleLabel {
      font-size: 1.6em;
      margin-top: 3px;
      padding-top: 0 !important;
    }
  }
  &.loopXSmallPadding .loopTitleLabel {
    font-size: 1.6em;
    margin-top: 3px;
    padding-top: 0 !important;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .loopContainerBox.loopSmallPadding .col-lg-offset-1 {
    margin-left: 5.9%;
  }
}

@media (max-width: 767px) {
  .loopContainerBox.loopXSmallPadding .col-sm-5.control-label {
    padding-top: 0 !important;
    margin: 0 0 0 52px !important;
  }
}

@media (max-width: 1250px) {
  .loopContainerBox {
    &.loopSmallPadding .loopTitleLabel, &.loopXSmallPadding .loopTitleLabel {
      font-size: 1.4em;
    }
  }
}

.loopCover {
  padding: 0 !important;
  &[disabled] {
    filter: alpha(opacity = 20);
    opacity: .2;
    transition: opacity .4s ease-in-out;
  }
}

.loopDashedContainer {
  background-color: rgba(255, 255, 255, 0.7);
  border: 6px dashed #434A54;
  margin-top: 40px;
  padding: 20px 20px 0;
}

@media (max-width: 992px) {
  .loopDashedContainer .form-horizontal .row .col-md-6 [class*="col-"] {
    margin-bottom: 0 !important;
  }
}

.loopCoverColumn {
  width: 20%;
  .loopSquareBox.loopSquare {
    min-height: 150px;
  }
}

@media (min-width: 1100px) {
  .loopCoverColumn .loopSquareBox.loopSquare h5 {
    font-size: 1.4em;
  }
}

@media (max-width: 768px) {
  .loopCoverColumn .loopSquareBox.loopSquare h5 {
    font-size: .9em;
  }
}

@media (max-width: 650px) {
  .loopCoverColumn {
    width: 50%;
    .loopSquareBox.loopSquare h5 {
      font-size: 1em;
    }
  }
}

.loopEllipsisText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.loopEllipsisTitle, .loopEllipsisMainTitle {
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (min-width: 865px) and (max-width: 991px) {
  .loopEllipsisTitle {
    overflow: visible !important;
  }
}

@media (min-width: 1220px) {
  .loopEllipsisMainTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 420px;
  }
}

@media (max-width: 1220px) {
  .loopEllipsisTitle, .loopEllipsisMainTitle {
    overflow: hidden;
  }
}

.loopHeaderBox {
  border: none;
  color: #434a54;
  font-size: 1.2em;
  font-weight: 700;
  padding: 0;
}

.loopMarginTop {
  margin-top: 40px;
  margin-top: 40px;
}

@media (min-width: 992px) {
  .loopMarginTablet .form-group {
    margin-right: -60px;
  }
}

@media (max-width: 767px) {
  .loopMarginTablet {
    margin-right: 15px;
    margin-left: 15px;
  }
}

.loopNegoColumnTitle {
  margin-bottom: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

.loopNegoTitle {
  margin-top: 7px;
  margin-bottom: -5px;
}

.loopPadding {
  padding: 30px 20px 20px;
}

.loopPanelBar {
  background-color: #9BC8DB;
  height: 5px;
  margin-bottom: 17px;
  width: 100%;
}

.loopRowPadding {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.loopScrollColumn {
  overflow-y: auto;
  height: 200px;
}

.loopSmallPadding {
  padding: 15px 5px 0;
}

.loopXSmallPadding {
  padding: 18px 2px 0;
}

.loopSmallSpan {
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  margin-bottom: 5px !important;
}

.loopSquare {
  padding-bottom: 10px;
}

.loopSquareBox {
  border: 1px solid #D2D3D5;
  background-color: rgba(255, 255, 255, 0.7);
  padding-left: 2px;
  padding-right: 2px;
  &.loopSquare {
    border: 1px solid #D2D3D5 !important;
    color: rgba(67, 74, 84, 0.7);
    .btn {
      padding-top: 1px;
    }
    .form-control {
      height: 30px !important;
    }
    .ui-select-bootstrap > .ui-select-match > .btn {
      height: 26px !important;
    }
    &.active, &[active], &.active:focus, &[active]:focus {
      border: 1px solid #D2D3D5;
      background-color: rgba(177, 227, 248, 0.9);
      color: #434A54;
    }
    &.active:hover, &[active]:hover {
      background-color: rgba(177, 227, 248, 1) !important;
    }
    &:hover, &:focus {
      background-color: rgba(177, 227, 248, 0.6);
      border: 1px solid #D2D3D5;
      -webkit-transition: all .25s ease-in-out;
      -moz-transition: all .25s ease-in-out;
      outline: none;
      transition: all .25s ease-in-out;
    }
  }
}

.loopTitleBar {
  background-color: #9BC8DB;
  height: 5px;
  margin-top: -5px;
  width: 100%;
}

.smaller {
  font-size: .9em;
}

@media (max-width: 1280px) {
  .smaller {
    font-size: .8em;
  }
}

/* navbar & BRAND */

.navbar-brand {
  &.loopOneRowBrand {
    height: 62px !important;
  }
  height: 135px;
  position: fixed;
  transition: opacity .4s ease-in-out;
  z-index: 2001;
  right: 5px;
  top: 5px !important;
  &:hover, &:active {
    filter: alpha(opacity = 75);
    opacity: .75;
  }
}

@media (max-width: 991px) {
  .navbar-brand.loopOneRowBrand {
    height: 92px !important;
  }
}

@media (max-width: 767px) {
  .navbar-brand.loopOneRowBrand {
    height: 140px !important;
  }
}

.logo {
  background-repeat: no-repeat !important;
  background-position: 100% 50% !important;
  background-size: 51% !important;
}

@media (min-width: 992px) {
  .logo {
    width: 15%;
    max-width: 336px;
  }
}

@media (max-width: 991px) {
  .logo {
    max-width: 30%;
    width: 30%;
  }
  .navbar-brand {
    height: 172px;
  }
}

@media (max-width: 767px) {
  .navbar-brand {
    height: 240px;
  }
}

.navbar-custom {
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 0;
  height: 40px;
  left: 0;
  min-height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
  .nav li a {
    display: block;
    color: #50c1e9;
    &:focus, &:hover {
      color: #50c1e9;
    }
    &:active, &.current {
      border-bottom: 3px solid #50c1e9;
    }
  }
  .navbar-toggle {
    position: relative;
    background-color: #50c1e9;
    border-color: #50c1e9;
    &:hover, &:focus {
      background-color: #50c1e9;
    }
    .icon-bar {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}

@media (max-width: 992px) {
  .navbar-custom .navbar-brand {
    width: 63px;
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .navbar-custom {
    position: relative;
    top: 0;
    .navbar-nav > li > a {
      &:hover, &:focus {
        color: #88DDE0;
        background-color: #50c1e9;
      }
    }
  }
}

.navbar-default .navbar-collapse {
  border-color: #e7e7e7;
}

/* PANELS */

.loopPanelBar {
  background-color: #9BC8DB;
  height: 5px;
  margin-bottom: 17px;
  width: 100%;
}

.panel {
  background-color: #F4F2F6;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  padding-bottom: 20px;
  &.panel-default.loop-result-panel {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
}

.panel-group {
  margin-bottom: 10px;
}

.panel-title a {
  color: rgba(67, 74, 84, 0.8);
  &:hover, &:focus, &:active {
    color: #434A54;
    transition: opacity .4s ease-in-out;
  }
}

.panel-loop-bar {
  background-color: #9BC8DB;
  height: 5px;
  margin-bottom: 17px;
  width: 100%;
}

/* TABLE */

.loopHoverTable {
  margin-bottom: 0;
}

.loopMarginTable {
  margin-bottom: 0;
  &[class*="col-"] {
    margin-bottom: 0;
  }
}

.loopHoverTable {
  height: 300px;
}

.table.loopHoverTable {
  tbody tr {
    &:hover, &:focus, &:active {
      background-color: rgba(210, 239, 251, 1);
      outline: 1px solid #81c5e1;
    }
  }
  thead tr {
    &:hover, &:focus {
      outline: 0 !important;
    }
  }
}

.loopTableNote {
  border-top: 0 !important;
}

.loopWidthColumn {
  width: 29%;
}

.loopWidthColumnSmall {
  width: 12%;
}

/* TAPS */

.nav-tabs {
  background-color: #fff;
}

.nav.nav-tabs {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.nav-tabs.nav-justified > li {
  background-color: #fff;
  border: none;
  font-size: 1.6em;
  font-weight: 700;
  > a {
    color: #D2D3D5;
  }
  &.active > a {
    color: #333;
    background-color: #F4F2F6 !important;
    &:focus, &:hover {
      color: #333;
      background-color: #F4F2F6 !important;
    }
  }
  &.disabled > a {
    &:focus, &:hover {
      color: #D2D3D5;
    }
  }
}

.nav.nav-tabs {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

@media (min-width: 1200px) and (max-width: 1550px) {
  .nav-tabs.nav-justified.loopFiveTap > li {
    font-size: 1.5em;
    width: 280px;
  }
}

@media (min-width: 834px) and (max-width: 1200px) {
  .nav-tabs.nav-justified.loopFiveTap > li {
    font-size: 1.2em;
    width: 270px;
  }
}

@media (min-width: 768px) and (max-width: 833px) {
  .nav-tabs.nav-justified.loopFiveTap > li {
    font-size: 1.05em;
    width: 240px;
  }
}

.loopDefaultButton .fa.fa-chevron-right {
  position: absolute;
  top: 10px;
  right: 25px;
}

.fa.fa-times.form-control-feedback {
  top: 8px;
}