<!--nav-->
<div class="container">
  <div class="row">
    <nav class="navbar navbar-default navbar-custom" role="navigation">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>              
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a class="nav-link" href="getting-started.html">Lorem ipsum.</a></li>
            <li><a class="nav-link" href="documentation.html">Lorem ipsum.</a></li>
            <li><a class="nav-link" href="free-psd.html">Lorem ipsum.</a></li>
            <li><a class="nav-link" href="color-picker.html">Lorem ipsum.</a></li>
          </ul>
        </div>             
      </div>
      <div class="col-md-1"><a class="navbar-brand logo" href="index.html"><img src="./images/logo-direct.png"></a></div>
    </nav>
  </div>
</div>
<!--header-->
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9"><h1 class="text-center">UI Direct Seguros Bootflat</h1></div>
    <div class="col-md-1"></div>
  </div>       
</div>
<div class="container header-loop-bar"></div>