<div class="topic">
      <div class="container-fluid text-uppercase">
        <div class="row text-capitalize">
          <div class="col-xs-12 col-md-3"><h2 class="loopEllipsisMainTitle">Jose María Pérez Blanco-Martínez</h2></div>
          <div class="col-sm-5 col-md-5">
            <div class="row">
              <div class="col-xs-12 col-md-offset-3 col-md-9"><h3 class="loopEllipsisMainTitle">Volkswagen Touran Highline</h3>
              </div>
            </div>
          </div>      
          <div class="col-sm-2 col-md-3">
            <div class="row loopRowMargin">
              <div class="col-xs-3 col-sm-2 col-md-offset-3 col-md-3"><h4>2419GZZ</h4></div>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <div class="row loopBorderLine">
              <strong class="col-xs-3 col-sm-5 col-md-4 loopEllipsisTitle">
                <text class= "loopSmallBorder">Presupuesto:</text>
              </strong>
              <div class="col-xs-4 col-md-4">
                <text class="loopSmallBorder">1234567</text>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-5">
            <div class="row loopBorderLine">
              <strong class="col-xs-3 col-sm-offset-2 col-md-offset-3 col-md-3">
                <text class="loopSmallBorder">Cobertura:</text>
              </strong>
              <div class="col-xs-7 col-md-6 loopEllipsisText">
                <text class="loopSmallBorder">Todo riesgo sin franquicia</text>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="row loopBorderLine loopRowMargin">
              <strong class="col-xs-3 col-sm-5 col-md-offset-3 col-md-5 loopEllipsisTitle">
                <text class="loopSmallBorder">Precio actual:</text>
              </strong>
              <div class="col-xs-4 col-md-4">
                <text class="loopSmallBorder loopEllipsisText">351,63 €</text>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="row loopBorderLine">
              <strong class="col-xs-3 col-sm-offset-2 col-md-offset-0 col-md-4">
                <text class="loopSmallBorder">NIF:</text>
              </strong>
              <div class="col-xs-7 col-md-4">
                <text class="loopSmallBorder">05099724A</text>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-5">
            <div class="row loopBorderLine">
              <strong class="col-xs-3 col-sm-5 col-md-offset-3 col-md-3 loopEllipsisTitle">
                <text class="loopSmallBorder ">Fecha efecto:</text>
              </strong>
              <div class="col-xs-6 col-md-6 loopEllipsisText">
                <text class="loopSmallBorder">31/12/2016 22:20</text>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="row loopBorderLine loopRowMargin">
              <strong class="col-xs-3 col-sm-offset-2 col-md-offset-3 col-md-5 loopEllipsisTitle">
                <text class="loopSmallBorder">Precio renov:</text>
              </strong>
              <div class="col-xs-4 col-md-4">
                  <text class="loopSmallBorder loopEllipsisText">477,54 €</text>
              </div>
            </div>
          </div>            
        </div>
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <div class="row loopBorderLine">
              <strong class="col-xs-3 col-sm-5 col-md-4 loopEllipsisTitle">
                <text class="loopSmallBorder">TELÉFONO:</text>
              </strong>
              <div class="col-xs-4 col-md-4">
                <text class="loopSmallBorder">678788965</text>
              </div>
            </div>              
          </div>
          <div class="col-md-5 loopEmptyBorder"></div>
          <div class="col-sm-6 col-md-3">
            <div class="row loopBorderLine loopRowMargin">
              <strong class="col-xs-3 col-sm-offset-2 col-md-offset-3 col-md-5">
                <text class="loopSmallBorder">Semestral:</text>
              </strong>
              <div class="col-xs-4 col-md-4">
                <text class="loopSmallBorder loopEllipsisText">238,77 €</text>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5 col-md-3">
            <div class="row loopBorderLine">
              <strong class="col-xs-3 col-sm-4 col-md-4">
                <text class="loopSmallBorder">EMAIL:</text>
              </strong>
              <div class="col-xs-7 col-md-7">
                <text class="loopSmallBorder loopHeaderEmail">josemariaperez@example.com</text>
              </div>
            </div>              
          </div>
          <div class="col-sm-offset-5 col-md-offset-7 col-sm-2">
            <a class=" navbar-brand logo" href="#"></a>
          </div>
        </div>
      </div>