body {
  position: relative; /* For scrollyspy */
  /*font-family: 'Lato', sans-serif !important;*/
  /*font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;*/
  /*font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: Tahoma, Geneva, sans-serif !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  /*font-family: 'Lato', sans-serif !important;*/
  /*font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;*/
  font-family: 'Open Sans', Tahoma, Geneva, sans-serif !important;
}
small, .small {
  color:rgba(51, 51, 51, 0.6);
}
/* header & home */
  header {
    font-family: 'Open Sans', Tahoma, Geneva, sans-serif !important;
    font-size: .95em;
  }
  .docs-header h1.text-center {
    margin-top: 45px;
  }
  .docs-header.header--noBackground {
      background: none;
  }
  @media (max-width: 768px) {
      .docs-header {
          padding-top: 0;
      }
  }
  header.docs-header .border-loop {
    border-top: 1px solid #E5E6E9;
  }
  header.docs-header .border-loop:hover {
    background-color: rgba(244, 242, 246, .5);
  } 
  @media(max-width: 992px) {
  header.docs-header .border-loop {
    border-top: 0;
  }     
   } 
  .home {
    background: url(../img/index.png) no-repeat 50% 100px;
  }
  @media (max-width: 767px) {
    .home {
      background: none;
    }
  }
  @media(min-width: 767px) {
    .auto-width-right {
      padding-right: 0;
      width: auto;
    }
    .text-right-l {
      text-align: right;
    }     
  }
  @media(min-width: 992px) {
    .auto-width-l {
      margin-right: 40px;
      padding-right: 0;
      padding-left: 0;
      width: auto;
    }
    .auto-width-m {
      margin-right: 20px;
      padding-right: 0;
      padding-left: 0;
      width: auto;
    }    
    .auto-width-s {
      margin-right: 10px;
      padding-right: 0;
      padding-left: 0;
      width: auto;
    }
    .max-width {
      max-width: 300px;
    }
    .text-left-l {
      text-align: left;
    }     
  }
  .header-loop-bar {
    background-color: #9BC8DB;
    height: 12px;
    position: absolute;
    top: 117px;
    width: 100%;
  }
  @media(max-width: 991px) {
    .header-loop-bar {
      top: 230px;
    } 
  }
  @media(max-width: 767px) {
    .header-loop-bar {
      top: 260px;
    } 
  }

/* topic */

  .topic {
    margin: 0;
    position: relative;
  }
  .topic h1 {
    color: #434a54;
    margin: 0;
    padding-bottom: 5px;
  }
  .topic h1:hover {
    filter:alpha(opacity=80);
    opacity: .8;
    transition: opacity .4s ease-in-out;
  }
  .topic h2, .topic h3, .topic h4 {
    font-weight: 700;
  }
  .topic h2 {
    font-size: 1.7em;
  }
  .topic h3 {
    font-size: 1.5em;
  }
  .topic h4 {
    font-size: 1.4em;
  }
  @media(min-width: 992px) {
    .topic h2 {
      margin: 15px 0 0 0;
      padding-bottom: 8px;
    }
    .topic h3 {
      margin: 18px 0 0 0;
    }
    .topic h4 {
      margin: 20px 0 0 0;
    }
  }
  @media(max-width: 991px) {
    .topic h2 {
      margin-top: 5px;
    }
    .topic h3 {
      margin-top: 0;
    }
    .topic h4 {
      margin-top: 0;
    }    
  }
  .topic .container {
    color: rgba(51, 51, 51, .8);
    position: relative;
  }
  .topic .container a {
    color: #333;
    filter:alpha(opacity=100);
    opacity: 1;
    text-decoration: underline;
    padding: 0;
    font-weight: normal;
  }
  .topic .container a.btn {
    padding: 10px 16px;
    text-decoration: none;
  }
  .topic .github {
    position: relative;
    top: 10px;
  }
/* icons */

  .fa {
    font-size: 1.4em!important;
  }
  @media (max-width: 1068px) {
    .fa {
      font-size: 1.2em!important;
    }
  }
/* index */

  .index {
      text-align: center;
      background-color: rgba(255, 255, 255, .9);
      min-height: 746px;
  }
  .index h2 {
      margin-top: 10px;
      color: rgba(0, 0, 0, .8);
      font-size: 16px;
      line-height: 26px;
      font-weight: normal;
  }
  .index h3 {
      margin-top: 20px;
      font-size: 14px;
      font-style: italic;
  }
  .index .download-link {
      margin: 20px 0;
  }
  .index .download-link .btn {
      padding: 15px 35px;
      border: 0;
      font-size: 22px;
      opacity: 1;
  }
  .index .version-text {
      color: rgba(0, 0, 0, .6);
      font-size: 12px;
  }
  .index .learn-more {
      margin-top: 20px;
      font-weight: bold;
      color: rgba(79, 190, 186, 1);
  }
  .index .learn-more a,
  .index .learn-more a:hover,
  .index .learn-more a:active {
      color: #50c1e9 !important;
      text-decoration: none;
  }
  .index .learn-more .icon {
      font-weight: bold;
      font-size: 16px;
  }
  .index .adpacks {
  	margin: 0 auto 100px;
  	padding: 9px 9px 18px;
  	border-radius: 3px;
  	border: 1px solid #3bafda;
  	width: 380px;
  	min-height: 132px;
  	text-align: left !important;
  }
  .index .adpacks .adpacks-img {
  	float: left;
  	width: 140px;
  }
  .index .adpacks .adpacks-text,
  .index .adpacks .adpacks-poweredby {
  	font-size: 13px;
  	line-height: 16px;
  }
  .index .adpacks .adpacks-poweredby {
  	display: block;
  	margin-bottom:9px;
  }
  @media (max-width: 767px) {
      .index {
        min-height: 600px;
      }
      .index .download-link .btn {
        padding: 15px;
      }
  	.index .adpacks {
  		width: 100%;
  		min-height: 132px;
  	}
  }
/* desc */

  .desc {
      text-align: center;
      background-color: rgba(255, 255, 255, 1);
  }
  .desc a {
      color: rgba(79, 190, 186, 1);
  }
  .desc a:hover,
  .desc a:active {
      color: #50c1e9;
      text-decoration: none;
  }
  .desc .desc__introduces {
      border-top: 1px dashed #AAB2BD ;
  }
  .desc .desc__introduces:first-child {
      border-top: none;
  }
  .desc .desc__introduces h3,
  .desc .desc__introduces p {
      margin: 0 auto;
  }
  .desc .desc__introduces h3 {
      padding: 70px 0 14px;
      max-width: 900px;
      font-size: 28px;
  }
  .desc .desc__introduces p {
      padding-bottom: 40px;
      max-width: 900px;
      font-size: 18px;
      color: #888;
  }
  .desc .desc__introduces .photo--responsive img {
      width: 100%;
  }
  .desc .desc__features {
      margin: 70px auto;
      text-align: left;
  }
  .desc .desc__features .row {
      margin-bottom: 70px;
  }
  .desc .desc__features .col-md-6 {
      padding-left: 247px;
      min-height: 200px;
      text-align: left;
  }
  .desc .desc__features .features__photo {
      position: absolute;
      top: -18px;
      left: 0;
  }
  .desc .desc__features h4 {
      font-size: 20px;
      margin-bottom: 10px;
  }
  .desc .desc__features p {
      font-size: 16px;
      color: #888;
      line-height: 26px;
  }
  @media (max-width: 767px) {
    .desc .desc__introduces h3 {
        padding-top: 20px;
        text-align: left;
    }
    .desc .desc__introduces p {
        text-align: left;
    }
    .desc .desc__features {
        margin-top: 20px;
    }
    .desc .desc__features .row {
        margin-bottom: 20px;
    }
    .desc .desc__features .row p {
        padding-bottom: 20px;
        text-align: left;
    }
    .desc .desc__features .features__photo {
        position: static;
    }
    .desc .desc__features .col-md-6 {
        padding: 0 15px;
        text-align: center;
    }
  }
/* navbar & BRAND */

  .navbar-brand.logo>img {
    padding: 0 15px 15px;
    position: fixed;
    right: 8px;
    top: 45px;
    transition: opacity .4s ease-in-out;
    width: 160px;
    z-index: 2001;
  }

  .navbar-brand.logo>img:hover,
  .navbar-brand.logo>img:active {
    filter:alpha(opacity=75);
    opacity: .75;
  }
  .navbar-custom {
    background-color: rgba(255, 255, 255, .9);
    border: none;
    border-radius: 0;
    height: 40px;
    left: 0;
    min-height: 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
  }
  .navbar-custom .nav li a {
    display: block;
    color: #50c1e9;
  }
  .navbar-custom .nav li a:focus,
  .navbar-custom .nav li a:hover {
    color: #50c1e9;
  }
  .navbar-custom .nav li a:active,
  .navbar-custom .nav li a.current {
    border-bottom: 3px solid #50c1e9;
  }
  .navbar-custom .navbar-toggle {
    position: relative;
    background-color: #50c1e9;
    border-color: #50c1e9;
  }
  .navbar-custom .navbar-toggle:hover,
  .navbar-custom .navbar-toggle:focus {
    background-color: #50c1e9;
  }
  .navbar-custom .navbar-toggle .icon-bar {
    background-color: rgba(255, 255, 255, .9);
  }
  .navbar-default .navbar-collapse {
    border-color: #e7e7e7;
  }
  @media (max-width: 992px) {
    .navbar-custom .navbar-brand {
    width: 63px;
    overflow: hidden;
    }
  }
  @media (max-width: 767px) {
    .navbar-custom {
    position: relative;
    top: 0;
    }
    .navbar-custom .navbar-nav > li > a:hover,
    .navbar-custom .navbar-nav > li > a:focus {
    color: #88DDE0;
    background-color: #50c1e9;
    }
  }
/* documents */

  .documents {
    margin-top: 40px;
  }
  /* details */

  .details {
    position: relative;
    padding-right: 400px;
  }
  @media (max-width: 991px) {
    .details { width: 100%; }
  }
  @media (max-width: 767px) {
    .details { padding: 0 15px; }
  }
/* docs-article */

  .docs-article {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
  }
  .docs-article:last-child {
    border-bottom: none;
  }
  .docs-article h3 {
    margin: 0 0 10px;
    padding-bottom: 10px;
    font-family: "Georgia", "Palatino", "Times New Roman", "Times" !important;
    font-weight: normal;
    font-size: 25px;
    color: #50c1e9;
  }
  .docs-article p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 22px;
  }
  .docs-article dd {
    margin-bottom: 10px;
  }
  .docs-article a {
    color: #50c1e9;
    text-decoration: underline;
  }
  .docs-article a:hover {
    color: #50c1e9;
  }
  .docs-article .item__infos {
    margin: 0 0 10px 0;
    font-size: 14px;
    list-style: disc;
  }
  .docs-article .item__infos li {
    margin-bottom: 10px;
  }
  .docs-article .btn-primary,
  .docs-article .btn-primary:hover {
    color: #fff;
    text-decoration: none;
  }
  .docs-article pre {
    border: none;
    background-color: #f7f7f7;
  }
/* example */

  .example {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .example .example-title {
    margin-bottom: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 1);
  }
  .example .example-title span {
    font-weight: normal;
    font-size: 14px;
    color: #ED5565;
  }
  .example [class*="col-"] {
    margin-bottom: 10px;
  }
  .example-dropdown h2 + .dropdown-menu,
  .example-popover .popover,
  .example-modal .modal {
    position: static;
    display: block;
  }
  .example-dropdown h2 + .dropdown-menu {
    float: none;
    width: 200px;
  }
  .example-popover .popover {
    position: relative;
  }
  @media (max-width: 960px) {
    .tooltip-demo [class*="col-"] {
        text-align: center;
      }
      .tooltip-demo [class*="col-"] .btn-block {
        display: inline-block;
        margin: 0 auto;
        width: 160px;
      }
  }
  .example-popover [class*="col-"]:nth-of-type(1) .popover {
    margin-top: 0;
  }
  .example-popover [class*="col-"]:nth-of-type(3) .popover,
  .example-popover [class*="col-"]:nth-of-type(4) .popover {
    margin-top: 40px;
  }
  .example-progress [class*="col-"]:last-child .progress {
    margin-bottom: 10px;
  }
  .example-pagination .pagination,
  .example-pagination .pager {
    margin: 0 !important;
  }

  .example-modal .modal {
    overflow: hidden;
  }
  @media (min-width: 768px) {
      .example-modal .modal-dialog {
        width: 545px;
        margin: 5px;
      }
  }
  .example-typography {
    position: relative;
    padding-left: 25%;
    margin-bottom: 40px;
  }
  .example-typography .heading-note,
  .example-typography .text-note {
    display: block;
    width: 260px;
    position: absolute;
    bottom: 2px;
    left: 0;
    font-size: 13px;
    line-height: 13px;
    color: #AAB2BD;
    font-weight: 400;
  }
  .example-typography .text-note {
    bottom: auto;
    top: 10px;
  }
/* color-swatches */

  .color-swatches .swatches {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFF;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  }
  .color-swatches .light,
  .color-swatches .dark {
    width: 50%;
    height: 50px;
  }
  .color-swatches .light {
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0;
  }
  .color-swatches .dark {
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0;
  }
  .color-swatches .infos {
    padding: 5px 10px;
  }
  .color-swatches .infos h4,
  .color-swatches .infos p {
    margin: 0;
  }
  .color-swatches .infos h4 {
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 14px;
  }
  .color-swatches .infos p {
    font-size: 12px;
  }
  .alert-green {
    color: rgba(146, 146, 33, 0.8);
  }
  .green {
    color: #DAE275;
  }
  .red {
    color: #E6675F;
  }
  .white {
    color: #FFF;
  }
/* psd-download */

  .psd-download {
    padding: 40px 0;
    background: #e6e9ed url(../img/github.png) no-repeat 100% 0;
    min-height: 680px;
  }
  .psd-download h2 {
    text-align: center;
  }
  .psd-download .infos {
    font-size: 20px;
    line-height: 40px;
  }
  .psd-download .row {
    margin-top: 20px;
  }
  @media (max-width: 768px) {
      .psd-download [class*="col-md-"] {
          text-align: center;
      }
  }
  .psd-download h4 {
      margin: 0 0 15px 0;
  }
  .psd-download img {
      margin-bottom: 15px;
  }
/* previews */

  .previews {
      text-align: center;
  }
  .previews p {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 40px;
  }
  .previews img {
      max-width: 100%;
  }
  /* color picker */

  .color-picker-nav a {
  	text-decoration: none !important;
  	color: #0b859c !important;
  	margin: 0 10px;
  }
  .color-picker-nav a:hover {
  	text-decoration: underline !important;
  }
  .color-picker-nav a.current {
  	font-weight: bold;
  }
  .color-wrap {
  	position: relative;
  	clear: both;
  	left: 0;
  	width: 100%;
  	z-index: 500;
  }
  .color-picker {
  	width: 20%;
  	padding-bottom: 18%;
  	color: #FFF;
  	position: relative;
  	float: left;
  	top: 0;
  	bottom: 0;
  }
  .color-item {
  	position: absolute;
  	margin: 0;
  	left: 0;
  	right: 0;
  	top: 0;
  	bottom: 0;
  	text-align: center;
  	text-transform: uppercase;
  	padding: 35%;
  }
  .color-item:hover {
  	display: inline;
    z-index: 999;
    overflow: hidden;
  	cursor: pointer;
  	-webkit-transform: scale(1);
  	-moz-transform: scale(1);
  	-o-transform: scale(1);
  	transform: scale(1);
  	-webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  	-moz-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  }
/* btn-group & labels */
  
  .btn {
    border-radius: 0;
  }
  .blank {
    display: none;
  }
  @media (max-width: 768px) {
    .blank {
      display: block;
      height: 15px;
    }
  }
  .site-footer {
    position: relative;
    z-index: 400;
    border-top: 1px dashed #AAB2BD;
    padding: 40px 0 20px;
    background-color: #f5f5f5;
  }
  .site-footer a,
  .site-footer .connect {
    color: #50c1e9;
  }
  .site-footer a:hover,
  .site-footer a:active {
    color: #50c1e9;
    text-decoration: none;
  }
  .site-footer .row .col-md-4 {
    margin-bottom: 20px;
  }
  .site-footer h3 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
  }
  .site-footer ul {
    padding-left: 0;
  }
  .site-footer li {
    list-style: none;
    font-size: 14px;
  }
  .site-footer hr {
    margin: 20px 0;
    border: none;
    height: 1px;
    width: 100%;
  }
  .site-footer hr.dashed {
    border-top: 1px dashed #ccc;
  }
  .site-footer .icon {
    margin-right: 10px;
    font-size: 28px;
  }
  .site-footer form {
    padding: 0 !important;
  }
  .site-footer form label {
    font-size: 14px !important;
    font-weight: normal !important;
  }
  .site-footer input[type="email"] {
    margin-right: 10px;
    width: 75%;
  }
  .site-footer input[type="email"],
  .site-footer input[type="email"]:focus,
  .site-footer input[type="submit"],
  .site-footer input[type="submit"]:active,
  .site-footer input[type="submit"]:focus {
    border: none !important;
  }
  .site-footer .email,
  .site-footer .clear {
    float: left;
  }
  .site-footer .copyright p:last-child {
    margin-top: 10px;
  }
  .site-footer .copyright b {
    font-size: 16px;
  }
  .site-footer .download .download__infos {
    font-size: 18px;
  }
  .site-footer .download .btn {
    color: #000;
  }
  .site-footer .download .btn-primary {
    color: #fff;
  }
/* taps */

  .nav-tabs {
    background-color: #fff;
  }
  .nav-tabs.nav-justified>li {
    background-color: #fff;
    border: none;
    font-size: 1.6em;
    font-weight: 700;
  } 
  .nav-tabs.nav-justified>li>a {
    color: #D2D3D5;
  }
  .nav-tabs.nav-justified>li>a:hover {
    color: #434A54;
    background-color: rgba(244, 242, 246, 0.1);
  }  
  .nav-tabs.nav-justified>li.active>a,
  .nav-tabs.nav-justified>li.active>a:focus,
  .nav-tabs.nav-justified>li.active>a:hover {
    color: #333;
    background-color: #F4F2F6!important;
  }  
  .nav.nav-tabs {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0; 
  }
/* panels */
  .loop-box {
    border: 5px solid #9BC8DB;
  }
  .mar-bottop {
    margin-bottom: 5px;
    margin-top: 10px;

  }
  .loop-panel-heading {
    border: none;
    color: #434a54;
    font-size: 1.2em;
    font-weight: 700;
    padding: 0;
  }
  .panel {
    background-color: #F4F2F6;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
  }
  .panel.panel-default.loop-result-panel {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
  .panel-loop-bar {
    background-color: #9BC8DB;
    height: 5px;
    margin-bottom: 17px;
    width: 100%;
  }
/* SUCCESS, ALERTS, INFO, ACTIVE BGs */
  
  .alert-info {
    background-color:rgba(124, 209, 239, .5);
  }
  .alert.alert-info.alert-dismissable {

  }
  .alert-danger {
    background-color: rgba(255, 192, 188, 1);
    color: rgb(147, 67, 62);   
  }
  .alert.alert-danger.alert-dismissable {
    margin-top: 50px;
  }  
  .alert.alert-danger.alert-dismissable h3 {
    margin: 5px 0 10px;
  }  
  .alert.alert-danger.alert-dismissable .table>thead>tr>th {
    border-bottom: 2px solid #93433E;    
  }
  .alert.alert-danger.alert-dismissable .table>tbody>tr>td, .alert.alert-danger.alert-dismissable .table>tbody>tr {
    border-top: 1px solid #93433E;
  }
  .alert.alert-danger.alert-dismissable .btn-success:focus, .alert.alert-danger.alert-dismissable .btn-success:hover, .alert.alert-danger.alert-dismissable .open .dropdown-toggle.btn-success{
    background-color: rgba(208, 215, 123, 1);
    border: 1px solid rgba(162, 162, 63, .6);
    color: #434A54;
    outline: 0 !important;
  }
  .alert.alert-danger.alert-dismissable .btn-success, .alert.alert-danger.alert-dismissable .btn-success.active, .alert.alert-danger.alert-dismissable .btn-success.disabled, .alert.alert-danger.alert-dismissable .btn-success:active, .alert.alert-danger.alert-dismissable .btn-success[disabled] {
    background-color: rgba(208, 215, 123, .6);
    border: 1px solid rgba(162, 162, 63, .6);
    color: #434A54;
    outline: 0 !important;    
  }
  .alert.alert-danger.alert-dismissable .fa {
    font-size: 2em !important;
  }
  .alert-success {
    background-color: rgba(185, 223, 144, .5);
    border: #a0d468;
    color: #79A05B;
  }
  .alert-warning {
    background-color: rgba(255,234,134, .5);
    border: #9a7f00;
    color: #a09253;   
  }
  .alert.alert-success, .alert.alert-warning, .alert.alert-danger {
    margin: 7px 0;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .btn-success, .btn-success.active, .btn-success.disabled, .btn-success:active, .btn-success[disabled] {
    background-color: rgba(218, 226, 117, 1);
    border-color: rgba(218, 226, 117, 1);
    color: #434A54;
    outline: 0 !important;
  }
  .btn-success:focus, .btn-success:hover, .open .dropdown-toggle.btn-success {
    background-color: rgba(218, 226, 117, .8);
    border-color: rgba(218, 226, 117, .8);
    color: #434A54;
    outline: 0 !important;
  }
  .table>thead>tr>td.active, .table>tbody>tr>td.active, .table>tfoot>tr>td.active, .table>thead>tr>th.active, .table>tbody>tr>th.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>tbody>tr.active>td, .table>tfoot>tr.active>td, .table>thead>tr.active>th, .table>tbody>tr.active>th, .table>tfoot>tr.active>th {
    background-color: rgba(230,236,238, .8);
    outline: 0 !important;
  }
  .table>thead>tr>td.info, .table>tbody>tr>td.info, .table>tfoot>tr>td.info, .table>thead>tr>th.info, .table>tbody>tr>th.info, .table>tfoot>tr>th.info, .table>thead>tr.info>td, .table>tbody>tr.info>td, .table>tfoot>tr.info>td, .table>thead>tr.info>th, .table>tbody>tr.info>th, .table>tfoot>tr.info>th {
    background-color: rgba(218, 246, 244, 0.3);
    outline: 0 !important;
  }
  .table>thead>tr>td.success, .table>tbody>tr>td.success, .table>tfoot>tr>td.success, .table>thead>tr>th.success, .table>tbody>tr>th.success, .table>tfoot>tr>th.success, .table>thead>tr.success>td, .table>tbody>tr.success>td, .table>tfoot>tr.success>td, .table>thead>tr.success>th, .table>tbody>tr.success>th, .table>tfoot>tr.success>th {
    background-color: rgba(191,226,117,0.2);
    outline: 0 !important;
  }
/* FORMS */
  .examp.form-control:focus {
    background-color: #e4f5fd;
  }
  .examp.has-success .form-control:focus {
    background-color: #F0FFB7;
    border: 2px solid #a2d77b;    
  }
  .examp.has-warning .form-control:focus {
    background-color: #fffec1;
    border: 2px solid  #ffcc86;    
  }
  .examp.has-error .form-control:focus {
    background-color: #ffcecb;
    border: 2px solid  #E6675F;
    color: rgb(147, 67, 62);
  }
  .examp.input-group-addon {
    background-color: #9BC8DB;
    border: 2px solid #9BC8DB;
    border-radius: 0;
    padding:1px 12px;   
  }
  .examp.input-group-addon .fa {
    color: #fff;
    font-size: 1.4em!important;
  }
  .form-control, .has-success .form-control, .has-warning .form-control, .has-error .form-control, .selecter {
    border: 2px solid #D2D3D5;
    border-radius: 0;
  }
  .form-control:focus, .selecter:focus, .selecter .selecter-selected:focus {
    border: 2px solid #81c5e1;
    border-radius: 0;
  }
  .form-group {
    margin-bottom: 0;
  }
  .has-success .form-control:focus {
    border: 2px solid #a2d77b;
  }
  .has-warning .form-control:focus {
    border: 2px solid #ffcc86;
  }
  .has-error .form-control:focus {
    border: 2px solid #E6675F;
  }    
  .input-group-addon {
    background-color: #E5E6E9;
    border: 2px solid #D2D3D5;
    border-radius: 0;
    padding: 1px 12px;
  }
  .input-group-addon .fa {
    color:rgba(51, 51, 51, 0.3);
    font-size: 1.5em!important;
  }  
  .selecter.open .selecter-selected, .selecter .selecter-selected  {
    border: 0;
    border-radius: 0;
  }
/* BTNS */

  .btn {
    border-radius: 0;
  }
  .btn-loop, .btn-loop.active, .btn-loop.disabled, .btn-loop:active, .btn-loop[disabled] {
    background-color: #9BC8DB;
    border-color: #9BC8DB;
  }
  .btn-loop:focus, .btn-loop:hover, .open .dropdown-toggle.btn-loop {
    background-color: rgba(155, 200, 219, .65);
    border-color: rgba(155, 200, 219, .65);
  }
/* LABELS */

  label.small.col-sm-7 {
    margin-bottom: 5px;
  }
  .label-infoloop {
    color: rgba(51, 51, 51, 0.3);
    font-size: 80%;
    margin-top: 15px;
  }
  @media(max-width: ) {
    
  }
/* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px)
  {
  	.color-picker{
  		width: 50%;
  		color: #FFF;
  	}
  	.color-item{
  		padding: 8%;
  		font-size: 0.875em;
  	}
  	.color-name,.hex-number {
  		position: relative;
  		line-height: 22px;
  		text-align: center;
  	}
  }
/* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px)
  {
  	.color-picker {
  		width: 50%;
  		color: #FFF;
  	}
  	.color-item{
  		padding: 8%;
  		font-size: 0.750em;
  	}
  	.color-name,.hex-number {
  		position: relative;
  		line-height: 22px;
  		text-align: center;
  	}
  }
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px)
  {
  	.color-item{
  		padding: 5%;
  		font-size: 0.750em;
  	}
  	.color-picker{
  		width: 100%;
  		color: #FFF;
  	}
  	.color-name,.hex-number {
  		position: relative;
  		line-height: 12px;
  		text-align: center;
  	}
  }