 <div class="loopContainer">
   <div class="container-fluid">
     <div class="row">
       <div class="col-md-12">
         <h3>Cancelar póliza</h3>
       </div>
     </div> 
     <div class="row">
       <div class="col-md-12">
         <div class="loopContainerBox loopPadding">
           <form class="form-horizontal">
             <div class="row">
               <div class="col-md-12">
                 <div class="form-group">
                   <label for="#" class="col-xs-2 col-sm-3 loopTitleLabel loopAutoWidth">Nº de póliza:</label>
                   <div class="col-xs-2 col-sm-3">
                     <label tabindex="#" id="#" class="loopTitleLabel loopAutoWidth">43243</label> 
                   </div>
                 </div>
                 <div class="loopPanelBar"></div>
               </div>
             </div>
             <div class="row">
               <div class="col-md-12">
                 <h5>Tipo de rescisión</h5>
                 <div class="loopPanelBar"></div>
               </div>
             </div>
             <div class="row">
               <div class="col-md-12">
                 <div class="form-group">
                   <label for="" class="col-sm-4 control-label ">Motivo:</label>
                   <div class="col-sm-7 loopLabels has-error has-feedback">
                     <ui-select tabindex="1" ng-model="motive.selected" theme="bootstrap" ng-disabled="disabled">
                       <ui-select-match placeholder="Selecciona...">{{$select.selected.name}}</ui-select-match>
                       <ui-select-choices repeat="motive in motives | filter: $select.search">
                         <span ng-bind-html="motive.name | highlight: $select.search"></span>
                         <small ng-bind-html="motive.code | highlight: $select.search"></small>
                       </ui-select-choices>
                     </ui-select>
                     <span class="fa fa-times form-control-feedback"></span>
                     <label class="control-label loopErrorLabel" for="">Por favor, elija un motivo de cancelación</label>
                   </div>
                 </div>                                
               </div>
             </div>
             <div class="row">
               <div class="col-md-12">
                 <h5>Fecha de referencia</h5>
                 <div class="loopPanelBar"></div>
               </div>
             </div>                            
             <div class="row">
               <div class="col-md-12">
                 <div class="form-group">
                   <label for="#" class="col-sm-4 control-label">Fecha de efecto de la póliza:</label>
                   <div class="col-sm-7">
                     <label tabindex="" id="#" class="loopTitleLabel text-left">30/04/0216</label> 
                   </div>
                 </div>
                 <div class="form-group">
                   <label for="#" class="col-sm-4 control-label">Fecha de efecto de esta versión de la póliza:</label>
                   <div class="col-sm-7">
                     <label tabindex="" id="#" class="loopTitleLabel text-left">30/04/0216</label> 
                   </div>
                 </div>
                 <div class="form-group">
                   <label for="#" class="col-sm-4 control-label">Fecha de vencimiento:</label>
                   <div class="col-sm-7">
                     <label tabindex="" id="#" class="loopTitleLabel text-left">30/04/0217</label> 
                   </div>                              
                 </div>
               </div>
             </div>
             <div class="row">
               <div class="col-md-12">
                 <h5>Fecha de efecto</h5>
                 <div class="loopPanelBar"></div>
               </div>
             </div>                             
             <div class="row">
               <div class="col-md-12">
                 <div class="form-group">
                   <label for="#" class="col-sm-4 control-label">Fecha de efecto de la anulación:</label>
                   <div class="col-sm-7 loopLabels has-error has-feedback">
                     <input type="text" class="form-control" placeholder="dd/mm/aaaa">
                     <span class="fa fa-times form-control-feedback"></span>
                     <label for="" class="control-label loopErrorLabel">La fecha debe ser otra</label>
                   </div>
                 </div>                     
               </div>
             </div>                            
           </form>
         </div>
       </div>
     </div>
   </div>
   <div class="container-fluid">
     <div class="row">
       <div class="col-md-12">
         <form action="" class="form-horizontal">
           <div class="row">
             <div class="col-sm-offset-6 col-sm-6">
               <div class="form-group">
                 <div class="col-sm-offset-5 col-sm-7">
                   <a href="" type="submit" tabindex="43" class="btn btn-block loopDefaultButton">
                     SIGUIENTE<i class="fa fa-chevron-right" aria-hidden="true"></i>
                   </a>
                 </div>
               </div>                              
             </div>
           </div>
         </form>
       </div>
     </div>
   </div>
 </div> 