<div class="loopContainer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3>Selecciona el tipo de regalo</h3>
      </div>
    </div>
    <div class="loopPanelBar"></div>
    <div class="row">
      <div class="col-md-6">
        <h4>Añadir regalo de alta de póliza</h4>
        <div class="loopContainerBox loopPadding">
          <form action="" class="form-horizontal">
            <div class="form-group">
              <label for="" class="col-sm-4 control-label">Opción 1</label>
              <div class="col-sm-7 loopLabels">
                <ui-select tabindex="#" ng-model="gifts.selected" theme="bootstrap" ng-disabled="disabled">
                  <ui-select-match placeholder="Por favor selecciona...">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="gift in gifts | filter: $select.search">
                    <span ng-bind-html="gift.name | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-7">
                <button tabindex="" type="submit" class="btn btn-block loopDefaultButton">GUARDAR</button>
              </div>
            </div>
          </form>
        </div>
      </div>  
      <div class="col-md-6">
        <h4>Añadir regalo de Renovación</h4>
        <div class="loopContainerBox loopPadding">
          <form action="" class="form-horizontal">
            <div class="form-group">
              <label for="" class="col-sm-4 control-label">Opción 1</label>
              <div class="col-sm-7 loopLabels">
                <ui-select tabindex="#" ng-model="renovgifts.selected" theme="bootstrap" ng-disabled="disabled">
                  <ui-select-match placeholder="Por favor selecciona...">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="gift in renovgifts | filter: $select.search">
                    <span ng-bind-html="gift.name | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-7">
                <button tabindex="" type="submit" class="btn btn-block loopDefaultButton">GUARDAR</button>
              </div>
            </div>
          </form>
        </div>
      </div>                        
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Añadir regalo de Presentado</h4>
        <div class="loopContainerBox loopPadding">
          <form action="" class="form-horizontal">
            <div class="form-group">
              <label for="#" class="col-sm-4 control-label">Código MGM (Nº Póliza Presentador)</label>
              <div class="col-sm-7 loopLabels has-error has-feedback">
                <input tabindex="" type="text" class="form-control" id="" placeholder="">
                <span class="fa fa-times form-control-feedback"></span>
                <label class="control-label loopErrorLabel" for="">Comprueba tus datos</label>
              </div>
            </div>  
            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-7">
                <button tabindex="" type="submit" class="btn btn-block loopDefaultButton">ACTUALIZAR</button>
              </div>
            </div>
          </form>
        </div>                                       
      </div>
      <div class="col-md-6">
        <h4>Añadir regalo de alta de Suplemento</h4>
        <div class="loopContainerBox loopPadding">
          <form action="" class="form-horizontal">
            <div class="form-group">
              <label for="" class="col-sm-4 control-label">Opción 1</label>
              <div class="col-sm-7 loopLabels">
                <ui-select tabindex="#" ng-model="supgifts.selected" theme="bootstrap" ng-disabled="disabled">
                  <ui-select-match placeholder="Por favor selecciona...">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="gift in supgifts | filter: $select.search">
                    <span ng-bind-html="gift.name | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>                            
            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-7">
                <button tabindex="" type="submit" class="btn btn-block loopDefaultButton">GUARDAR</button>
              </div>
            </div>
          </form>
        </div>                         
      </div>
    </div>
  </div>
</div>