<div class="loopContainer">
  <div class="container-fluid">            
    <div class="row">
      <div class="col-md-12">
        <h3>Encargo de peritación</h3>
      </div>
    </div>                
    <div class="row">
      <div class="col-md-12">
        <div class="loopContainerBox loopPadding">
          <form action="" class="form-horizontal">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group loopCheckboxGroup">
                  <input type="checkbox" name="loopCheckOption1" id="loopCheck21">
                  <label for="loopCheck21" class="col-sm-4 control-label">¿Quieres revisar manualmente la peritación?
                    <span class="fa-stack">
                      <i class="fa fa-square-o fa-stack-1x"></i>
                      <i class="fa fa-check fa-stack-1x"></i>
                    </span>
                  </label>                              
                </div>                            
                <div class="form-group">
                  <label for="#" class="col-sm-4 control-label">Fecha para peritar</label>
                  <div class="col-sm-7 loopLabels has-error has-feedback">
                    <input type="text" class="form-control" placeholder="dd/mm/aaaa">
                    <span class="fa fa-times form-control-feedback"></span>
                    <label for="" class="control-label loopErrorLabel">La fecha debe ser otra</label>
                  </div>
                </div>
                <div class="form-group">              
                  <label for="#" class="col-sm-4 control-label">Código Postal</label>
                  <div class="col-sm-7 loopLabels">
                    <input tabindex="" type="text" id="#" class="form-control">
                  </div>                                        
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-4 control-label">Localidad</label>
                  <div class="col-sm-7 loopLabels">
                    <ui-select tabindex="1" ng-model="village.selected" theme="bootstrap" ng-disabled="disabled">
                      <ui-select-match placeholder="Selecciona...">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="village in villages | filter: $select.search">
                        <span ng-bind-html="village.name | highlight: $select.search"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>                                                            
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="#" class="col-sm-4 control-label">Observaciones</label>
                  <div class="col-sm-7 loopLabels has-error has-feedback">
                    <textarea class="form-control" rows="3"></textarea>
                    <label for="" class="control-label loopErrorLabel">Observaciones incorrectas</label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="#" class="col-sm-4 control-label has-error has-feedback">Observaciones para el técnico</label> 
                  <div class="col-sm-7 loopLabels has-error has-feedback">
                    <textarea class="form-control" rows="3"></textarea>
                    <label for="" class="control-label loopErrorLabel">Observaciones incorrectas</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-6 col-md-6">
                <div class="form-group">
                  <div class="col-sm-offset-4 col-sm-7">
                    <button tabindex="7" type="submit" class="btn btn-block loopDefaultButton">GUARDAR PERITACIÓN</button>
                  </div>
                </div>  
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

