<!DOCTYPE html>
<html lang="en">
<head>
  <%include src="skeleton/head.html"%> 
</head>
<body>
  <header class="docs-header">
    <%include src="skeleton/header.html"%> 
  </header>
  <div class="container-fluid documents">
    <div class="row">
      <div class="col-md-1"></div>     
      <div class="col-md-10">
        <div class="panel">    
          <%include src="loops/m-car-inspection.html"%>         
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</body>
</html>