<!DOCTYPE html>
<html>
<head>
  <%include src="skeleton/head.html"%> 
</head>
<body>
  <div class="docs-header">
    <%include src="skeleton/header-ui.html"%> 
  </div>
  <!--documents-->
  <div class="container documents">
    <!-- Color Swatches ==================================================-->
    <div class="example">
      <h3 class="example-title">Color Swatches</h3>
      <div class="row">
        <div class="col-md-1 col-lg-1 text-center"></div>
        <div class="col-md-3 col-lg-3 text-center">
            <div class="color-swatches">
              <div class="swatches">
                <div class="clearfix">
                  <div class="pull-left light" style="background-color:#88DDE0"></div>
                  <div class="pull-right dark" style="background-color:#60d1d5"></div>
                </div>
                <div class="infos">
                  <h4>SOFT CYAN</h4>
                  <p>#88DDE0, #60d1d5</p>
                </div>
              </div>
            </div>
        </div>        
        <div class="col-md-3 col-lg-3 text-center">
            <div class="color-swatches">
              <div class="swatches">
                <div class="clearfix">
                  <div class="pull-left light" style="background-color:#B6D8E7"></div>
                  <div class="pull-right dark" style="background-color:#9BC8DB"></div>
                </div>
                <div class="infos">
                  <h4>SOFT BLUE</h4>
                  <p>#B6D8E7, #9BC8DB</p>
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 text-center">
          <div class="color-swatches">
            <div class="swatches">
              <div class="clearfix">
                <div class="pull-left light" style="background-color:#D2EFFB"></div>
                <div class="pull-right dark" style="background-color:#B1E3F8"></div>
              </div>
              <div class="infos">
                <h4>LIGHT GRAYISH BLUE</h4>
                <p>#D2EFFB, #B1E3F8</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-lg-2 text-center"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-lg-1 text-center"></div>
        <div class="col-md-3 col-lg-3 text-center">
          <div class="color-swatches">
            <div class="swatches">
              <div class="clearfix">
                <div class="pull-left light" style="background-color:#DAE275"></div>
                <div class="pull-right dark" style="background-color:#D0D77B"></div>
              </div>
              <div class="infos">
                <h4>SLYGHT BANANA</h4>
                <p>#DAE275, #D0D77B</p>
              </div>
            </div>
          </div>        
        </div>
        <div class="col-md-3 col-lg-3 text-center">
          <div class="color-swatches">
            <div class="swatches">
              <div class="clearfix">
                <div class="pull-left light" style="background-color:#F2F7FD"></div>
                <div class="pull-right dark" style="background-color:#F4F2F6"></div>
              </div>
              <div class="infos">
                <h4>LIGHT GRAY</h4>
                <p>#F4F2F6, #F2F7FD</p>
              </div>
            </div>
          </div>        
        </div>
        <div class="col-md-3 col-lg-3 text-center">
          <div class="color-swatches">
            <div class="swatches">
              <div class="clearfix">
                <div class="pull-left light" style="background-color:#E5E6E9"></div>
                <div class="pull-right dark" style="background-color:#D2D3D5"></div>
              </div>
              <div class="infos">
                <h4>MEDIUM GRAY</h4>
                <p>#E5E6E9, #D2D3D5</p>
              </div>
            </div>
          </div>          
        </div>             
        <div class="col-md-2 col-lg-2 text-center"></div>
      </div>
      <div class="row">
        <div class="col-md-3 col-lg-3 text-center"></div>
        <div class="col-md-3 col-lg-3 text-center">
          <div class="color-swatches">
            <div class="swatches">
              <div class="clearfix">
                <div class="pull-left light" style="background-color:#434A54"></div>
                <div class="pull-right dark" style="background-color:#333333"></div>
              </div>
              <div class="infos">
                <h4>DARK GRAYISH</h4>
                <p>#434A54, #333333</p>
              </div>
            </div>
          </div>      
        </div>
        <div class="col-md-3 col-lg-3 text-center">
          <div class="color-swatches">
            <div class="swatches">
              <div class="clearfix">
                <div class="pull-left light" style="background-color:#e6675f"></div>
                <div class="pull-right dark" style="background-color:#5fdee6"></div>
              </div>
              <div class="infos">
                <h4>SOFT RED & COM</h4>
                <p>#E6675F, #5FDEE6</p>
              </div>
            </div>
          </div>         
        </div>
        <div class="col-md-3 col-lg-3 text-center"></div>
      </div>
    </div>

    <!-- Buttons================================================== -->
    <div class="example">
      <h3 class="example-title">Buttons</h3>
      <div class="row">
        <div class="col-md-3">
          <button type="button" class="btn btn-block">Normal</button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-default btn-block">Default</button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-primary btn-block">Primary</button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-success btn-block">Success</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <button type="button" class="btn btn-info btn-block">Info</button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-warning btn-block">Warning</button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-danger btn-block">Danger</button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-link btn-block">Link</button>
        </div>
      </div>
    </div> 
    <!-- Tabs================================================== -->
    <div class="example">
        <div class="row">
          <div class="col-md-2"></div>        
          <div class="col-md-8">
            <div class="panel">
              <ul id="myTab1" class="nav nav-tabs nav-justified">
                <li class="active"><a href="#home1" data-toggle="tab">Home</a></li>
                <li><a href="#profile1" data-toggle="tab">Profile</a></li>
                <li class="dropdown">
                  <a href="#" id="myTabDrop1-1" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                    <li><a href="#dropdown1-1" tabindex="-1" data-toggle="tab">@fat</a></li>
                    <li><a href="#dropdown1-2" tabindex="-1" data-toggle="tab">@mdo</a></li>
                  </ul>
                </li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="home1">
                  <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
                </div>
                <div class="tab-pane fade" id="profile1">
                  <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.  </p>
                </div>
                <div class="tab-pane fade" id="dropdown1-1">
                  <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone...</p>
                </div>
                <div class="tab-pane fade" id="dropdown1-2">
                  <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche ... </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
    </div>
  </div>
  <!--footer-->
  <div class="site-footer">
      <div class="container">
        <hr class="dashed" />
        <div class="copyright clearfix">
          <p><b>Bootflat</b>&nbsp;&nbsp;&nbsp;&nbsp;<a href="getting-started.html">Getting Started</a>&nbsp;&bull;&nbsp;<a href="documentation.html">Documentation</a>&nbsp;&bull;&nbsp;<a href="free-psd.html">Free PSD</a>&nbsp;&bull;&nbsp;<a href="color-picker.html">Color Picker</a></p>
          <p>&copy; 2014 <a href="http://www.flathemes.com" target="_blank">FLATHEMES</a>, Inc. All rights reserved. &nbsp;&nbsp;Code licensed under <a href="http://opensource.org/licenses/mit-license.html" target="_blank" rel="external nofollow">MIT License</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/" rel="external nofollow">CC BY 3.0</a>.</p>
        </div>
      </div>
  </div>
</body>
</html>
